.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Starred and Unstarred Icons */
.star {
    margin-right: 10px;
}

.star.starred {
    color: gold;
}

.star.unstarred {
    color: #ccc;
}

/* Email from, subject, and date columns */
.from {
    flex: 1;
    color: #555;
}

.subject {
    flex: 2;
    font-weight: normal;
    color: #333;
}

.date {
    /* flex: 0.5; */
    text-align: right;
    color: #333;
}

.unread .subject,
.unread .from,
.unread .date {
    font-weight: bold;
}

.read .subject,
.read .from,
.read .date {
    font-weight: normal;
    background-color: #f5f5f5;
}