.mail-header {
    top: 0;
    display: grid;
    grid-template-columns: 200px auto 100px 100px ;
    grid-template-rows:auto 20px ;
    align-items: center;
    gap: 2rem;
    height: 60px;
    padding: 0.5em;
    background-color: #f6f8fc;
    font-family: Google Sans, Roboto, Arial, sans-serif;
}

.mail-header .logo {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    max-width: 200px;
    gap: 1rem;
    cursor: pointer;
}

.mail-header .logo .mail-logo {
    width: 3rem;
    font-stretch: 100%;
}

.mail-header .logo h1 {
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: -0.09375rem;
    
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: rgb(0,0,0);
}

.mail-header .mail-filter{
    margin-left: 15px;
}

@media (max-width: 600px) {
    .mail-header {
        grid-template-columns: 150px auto auto auto;
        grid-template-rows: 1fr;
        gap: 0.5rem;
        height: auto;
        padding: 0.5rem;
    }

    .mail-header .logo {
        max-width: 50px;
        grid-template-columns: auto;
    }

    .mail-header .logo .mail-logo {
        width: 3rem;
    }

    .mail-header .logo h1 {
        font-size: 1rem;
        display: none; 
    }

    .mail-header .mail-filter {
        margin-left: 0;
        width: 100%;
    }

    .mail-header .mail-actions {
        display: none; 
    }
}


