.mail-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mail-preview {
    flex-grow: 1;
    /* Allow the mail info to take available space */
}

.btn-delete img .btn-container i {
    width: 1.7rem;
    height: 1.7rem;

}


/* Starred and Unstarred Icons */
.star {
    margin-right: 10px;
}

.star.starred {
    color: gold;
}

.star.unstarred {
    color: #ccc;
}