.compose-mail-form {
    display: grid;
    position: fixed;
    bottom: 20px; 
    right: 20px;  
    width: 450px; 
    height: 450px;
    background-color: white; 
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    z-index: 10; 
    transition: all 0.3s ease; 
}
label {
    display: block;
    margin-bottom: 10px; 
    
}

input[type="email"],
input[type="text"] {
    width: 100%; 
    padding: 10px; 
    border: none;   
    outline: none;
    border-bottom: 1px solid #ddd;
 
}

textarea{
    width: 100%; 
    padding: 10px; 
    border: none;  
    outline: none;  
}

.compose-mail-button {
    margin-bottom: 100px; 
}

.mail-container {
    position: relative; 
}


