.add-note {
    display: flex;
    justify-content: center;

    --margin: 0.75rem;
    --time: 0.2s;
    padding: 0.3em;
    /* border-bottom: 1.5px solid transparent;
    border-bottom-color: hsla(340 10% 52%/.5); */
    transition: background-color var(--time);
    border-radius: 0.5em 0.5em 0 0;
}

.add-note:hover {
    background-color: hsl(340 82% 52% / .03);
}

/** TITLE CONTAINER */
.add-note .title-container {
    max-width: 35.375rem;
    height: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1em var(--margin);

    letter-spacing: .0142857143em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    box-shadow: 0 0 5px 0 gray;
}


.add-note .title-container h2 {
    flex-grow: 1;
    margin: 0;
}

.add-note .title-container .arrow {
    scale: 1.5;
    transition: rotate var(--time);
}

/** CONTENT */
.add-note .content {
    max-height: 0;
    font-size: 1.1em;
    padding: 0 var(--margin);
    overflow: hidden;
}

/** OPEN STATE */
.add-note.open .content {
    max-height: 100%;
}

.add-note.open .arrow {
    rotate: 180deg;
}