.create-note {
    grid-column: 2;
    grid-row: 1;
    z-index: 10;
}

.create-note form {
    position: relative;
    width: 600px;
    margin:  32px auto 50px auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgba(128, 128, 128);
}

.create-note form input,
.create-note form textarea {
    width: 100%;
    border: none;
    padding: 4px 0 4px 10px; 
    outline: none;
    font-size: 1rem;
    resize: none;
    box-sizing: border-box; 
}

.create-note form .create-btn {
    font-weight: 700;
    position: absolute;
    right: 18px;
    bottom: 18px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}