.note-header {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}

.note-header h1 {
    letter-spacing: .00625rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-top: 0.75rem;
}