.note-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-block-start: 10px;
    color: rgb(32 33 36);
    font-size: 0.9rem;
    gap: 0.5rem; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}


.note-footer:hover {
    opacity: 1;
}

.note-footer button {
    width: 2rem;
    height: 2rem;
}