.note-filter {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    width: 620px; 
    height: 46px; 
    border-radius: 8px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    gap: 1rem; 
    background-color: var(--clr-primary--1);
    z-index: 1;
}

.note-filter .search-btn img {
    width: 24px;
    height: 24px;
    padding: 8px;
}

.note-filter input {
    font-size: 1rem;
    outline: none;
    padding-inline-start: 8px;
    padding-block: 11px;
    width: 100%;
    border: none;
    background-color: inherit;
}


.note-filter form {
    display: flex;
}

