.note-preview {
    width: 14.875rem;
    /* height: 6.375rem; */
    height: fit-content;

    font-size: 0.9375rem;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
}

.note-preview:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.note-preview h1 {
    font-size: 1rem;
    margin-block-end: 6px;
    color: #3c4043;
    word-wrap: break-word;
    font-weight: bold;
}

.note-preview p,
.note-preview ul {
    font-size: 1rem;
    margin-block-end: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-preview ul {
    padding-left: 20px;
    list-style-type: disc;
}

.note-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.color-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.items-container {
    display: flex;
    gap: 10px;
}

.item {
    border: whitesmoke 3px solid;
    padding: 5px;
    margin: 5px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: .2s border-width;
}

.items-container .chosen {
    border: solid whitesmoke 6px;
}