.note-preview {
    height: fit-content;

    font-size: 0.9375rem;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem 0.75rem;
}

.note-preview:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.note-preview h1 {
    font-size: 1rem;
    margin-block-end: 6px;
    color: #3c4043;
    word-wrap: break-word;
    font-weight: bold;
}

.note-preview p,
.note-preview ul {
    font-size: 1rem;
    margin-block-end: 10px;
    white-space: pre-wrap;
    word-wrap: break-;
    padding-inline-start: 0;
}

.color-input {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 454px;
    height: 49px;
    padding: 9px;

    transform: translateX(-50%);
    background-color: var(--clr-primary-base);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.items-container {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
}


.item:not(.close-note-btn) {
    border: lavender 2px solid;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: .2s border-width;
}

.items-container .chosen {
    border: solid rgb(12, 0, 0) 2px;
}

.color-input .items-container .btn-note {
    height: 40px;
    width: 40px;
    padding: 0;
}
/* todos */

.note-preview .note-todos {
    list-style: none;
}

.note-preview .note-todos li {
    display: grid;
    grid-template-columns: auto 1fr;
}

.note-preview .note-todos [type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-inline-end: 15px;
    accent-color: var(--clr-secondary-3);
}

.note-preview .note-todos .done {
    text-decoration: line-through;
    
    color: gray;
}

.note-preview .note-todos .pending {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: inherit;
    line-height: 24px;
    overflow-wrap: break-word;
    flex-grow: 1;
}

.note-preview .note-todos span {
    display: flex;
}

.note-preview .note-todos .todo-text {
    outline: none;
}

/* image */

.note-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.note-preview iframe {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

