.note-filter {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 8px;
    gap: 0.5rem;
    padding: 0 10px;
    background-color: var(--clr-primary--1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.note-filter input {
    font-size: 0.875rem;
    outline: none;
    padding-inline-start: 8px;
    padding-block: 8px;
    width: 100%;
    border: none;
    background-color: inherit;
}

.note-filter .search-btn img {
    width: 20px;
    height: 20px;
    padding: 5px;
}

.note-filter input::placeholder {
    color: transparent;
}

.note-filter .search-btn {
    justify-self: end;
}

.note-filter form {
    display: flex;
}

@media (min-width: 600px) {
    .note-filter input::placeholder {
        color: initial;
    }
}

@media (min-width: 888px) {
    .note-filter {
        max-width: 720px;
        height: 46px;
        gap: 1rem;
    }

    .note-filter input {
        font-size: 1rem;
        padding-block: 11px;
    }

    .note-filter .search-btn img {
        width: 24px;
        height: 24px;
        padding: 8px;
    }
}
