.mail-side-filter {
    /* display: grid; */
    grid-row: 2;
    width: 200px;
    padding: 20px;
    background-color: #f6f8fc;
}

.mail-side-filter nav ul {
    list-style-type: none;
    padding: 0;
}

.mail-side-filter nav ul li {
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-size: 16px;
}

.mail-side-filter nav ul li:hover {
    background-color: #dce0e4;
}

.mail-side-filter nav ul li.active {
    background-color: #d3e3fd;
    font-weight: bold;
}

.mail-side-filter nav ul li .btn-sidebar {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.folder-name {
    margin-right: 10px;
    margin-left: 10px;
}

.folder-count {
    margin-left: 20px;
}
