body {
    color: rgb(32, 33, 36);
}

.mail-side-filter {
    margin-left: 0px;
    background-color: #f6f8fc;
    align-items: center;
    height: 32px;
    /* padding: 0 12px 0 26px; */
    transition: margin .15s cubic-bezier(0.4, 0, 0.2, 1), padding .15s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 0.875rem;
}

.mail-side-filter ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* gap:10px; */
}


.mail-side-filter .folder-item {
    list-style-type: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px 30px 30px 0px;
    transition: background-color 0.3s ease;
    padding-left: 18px;
}

.folder-item:hover {
    background-color: #dce0e4;
}

.mail-side-filter nav ul li.active {
    background-color: #d3e3fd;
    font-weight: bold;
}

.folder-item.active img {
    filter: contrast(350%);
}

.mail-side-filter nav ul li .btn-sidebar {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.btn-sidebar {
    column-gap: 20px;
}

.folder-count {
    margin-left: 85px;
}
