.mail-filter {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #eaf1fb;
    border-radius: 2rem;
}

.mail-filter form {
    display: flex;
    width: 100%;
    max-width: 800px;
    align-items: center;
    /* background-color: #eaf1fb; */
}

.mail-filter .search-btn img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 50%;
}

.mail-filter input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.0rem;
    border: none;
    background-color: #eaf1fb;
}
